@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}
body {
  width: 100vw;
}
body.hidden-scrolling {
  overflow-y: hidden;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 0 3rem;
}

.nav-logo {
  width: 120px;
  padding: 1rem 0;
}

.nav-logo img {
  width: 100%;
  object-fit: cover;
}

.nav-links-container {
  padding: 16px 0;
}

.nav-links {
  list-style: none;
}

.nav-links > .nav-link-item {
  display: inline-block;
  margin: 0 24px;
  position: relative;
}

.nav-links > .nav-link-item > a {
  text-decoration: none;
  display: flex;
  padding: 16px 0;
  color: #777777;
  font-weight: 500;
  transition: 0.3s ease;
  align-items: center;
}

.nav-links > .nav-link-item:hover > a {
  color: #2d57d9;
}

.nav-link-item > a > .fa-chevron-down {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 8px;
  transition: 0.3s ease;
  pointer-events: none;
}

.nav-link-item:hover > a > .fa-chevron-down {
  transform: rotate(-180deg);
}

.nav-links > .nav-link-item > .dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80%;
  left: -16px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  transform: translateY(0);
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-links > .nav-link-item:hover > .dropdown-menu {
  transform: translateY(8px);
  visibility: visible;
  opacity: 1;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item {
  list-style: none;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a {
  text-decoration: none;
  display: block;
  color: #777777;
  font-weight: 500;
  transition: 0.3s ease;
  padding: 16px;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a:hover {
  color: #2d57d9;
  background-color: #2d58d929;
}

.hero-container {
  padding: 2rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.hero-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

.hero-content p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 2rem;
}

.like {
  color: #2d57d9;
}

.subscribe {
  color: crimson;
}

button {
  padding: 16px 24px;
  background-color: black;
  border-radius: 99px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s ease-in;
  align-items: center;
  display: flex;
  gap: 8px;
  width: fit-content;
  margin: auto;
}

button:hover {
  cursor: pointer;
  background-color: #2d57d9;
  transition: 0.2s ease-out;
}

.hero-image {
  width: 50%;
  margin-bottom: 2rem;
}

.hero-image img {
  padding: 1rem;
  width: 80%;
  object-fit: cover;
}

.nav-container .background {
  position: fixed;
  z-index: 999;
  background-color: #00000050;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in;
}

.nav-container .background.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-out;
}

.nav-container .open-menu {
  display: none;
  font-size: 24px;
  color: #2d57d9;
}

.nav-container .close-menu {
  font-size: 24px;
  color: #fff;
  display: none;
}

@media (max-width: 992px) {
  body {
    max-width: 992px;
    overflow: hidden;
  }

  .nav-container {
    padding: 0 3rem;
  }

  .nav-container .nav-links-container {
    position: absolute;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: #2d57d9;
    z-index: 1000;
    padding: 15px;
    transition: all 0.3s ease-in;
  }

  .nav-container .nav-links-container.open {
    visibility: visible;
    transition: all 0.3s ease-out;
    right: 0;
  }

  .nav-links-container > .nav-links > .nav-link-item {
    display: block;
    margin: 0;
  }

  .nav-links-container > .nav-links > .nav-link-item a {
    color: #fff;
    padding: 24px 16px;
    border-bottom: 1px solid #ffffff16;
    display: flex;
    justify-content: space-between;
  }

  .nav-link-item:hover > a > .fa-chevron-down {
    transform: rotate(0);
  }

  .nav-container
    > .nav-links-container
    > .nav-links
    > .dropdown-menu-branch.active
    > a
    .fa-chevron-down {
    transform: rotate(-180deg);
  }

  .nav-links > .nav-link-item > .dropdown-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    border-bottom: 1px solid #ffffff16;
    background-color: transparent;
    transform: translateY(0px);
    box-shadow: none;
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }

  .nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a {
    color: #ffffff53;
    border: none;
  }

  .nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a:hover {
    color: #fff;
  }

  .nav-links > .nav-link-item:hover > .dropdown-menu {
    transform: translateY(0px);
  }

  .nav-logo {
    padding: 1.5rem 0;
  }

  .nav-container .open-menu {
    cursor: pointer;
    display: block;
  }

  .nav-container .close-menu {
    padding: 16px;
    cursor: pointer;
    display: block;
    width: fit-content;
  }

  .hero-content {
    /* width: 100%; */
    margin: 2rem;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .hero-content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24px;
    width: 100%;
  }

  .hero-image {
    width: 50%;
    margin-bottom: 1rem;
  }

  .hero-image img {
    padding: 1rem;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .hero-container {
    padding: 2rem;
  }
  .hero-content {
    margin: 1rem;
  }

  .hero-content h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .hero-content p {
    margin-bottom: 16px;
  }
  .hero-image img {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .nav-container {
    padding: 0 1rem;
  }

  .hero-container {
    padding: 1rem;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .hero-content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
    width: 100%;
  }

  .hero-image {
    width: 100%;
    margin-bottom: 1rem;
  }

  .hero-image img {
    width: 75%;
    object-fit: cover;
  }
}
